header {
    background-color: blue!important;
    color: white;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 2px;
}